.customer-statistics {
  margin-bottom: 100px;
  margin-top: 60px;
}

.customer-statistics__title {
  font-size: 3.2rem;
}

.customer-statistics__content {
  margin-top: 10px;
}

.customer-statistics__table-handler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-handler__results-page {
  color: #606060;
}

.table-handler__page-number-select {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 44px;
  color: var(--color-text);
  cursor: pointer;
}

.table-handler__search-input {
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}

.table-handler__search-input:focus {
  outline: none;
}

.customer-statistics__table {
  max-width: 80vw;
  overflow: scroll;
  overflow-y: hidden;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1352);
  min-height: 40vh;
}

.table__no-customer-found {
  padding: 20px;
  margin-top: 40px;
}

.customer-statistics__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.customer-statistics__total-results {
  flex: 1;
  font-size: 1.2rem;
}

.customer-statistics__total-results strong {
  font-weight: 600;
}

.customer-statistics__pagination {
  flex: 1;
  display: flex;
  justify-content: center;
}

.pagination__number {
  height: 38px;
  width: 44px;
  background-color: var(--color-background);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1352);
  border-radius: 10px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  margin-right: 14px;
}

.pagination__button {
  border: none;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
}

.pagination__button:disabled {
  opacity: 50%;
  cursor: initial;
}

.customer-statistics__invisible-block {
  flex: 1;
}

@media (max-width: 1520px) {
  .customer-statistics__table {
    max-width: 90vw;
  }
}

@media (max-width: 768px) {
  .customer-statistics__table-handler {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-handler__search-input {
    margin-top: 10px;
  }

  .customer-statistics__footer {
    flex-direction: column;
    margin-top: 10px;
  }

  .customer-statistics__total-results {
    align-self: flex-start;
  }

  .customer-statistics__pagination {
    margin-top: 10px;
  }
}