.line-chart {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}

.line-chart__content {
  max-height: 120px;
  height: 120px;
}

#line-chart {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  margin-left: 0.1px;
}