.customer-table {
  border-collapse: collapse;
  font-size: 1.4rem;
}

.customer-table__caption {
  opacity: 0;
  max-height: 0;
}

.customer-table__header {
  background-color: var(--color-background-table-header);
  color: var(--color-text-table-header);
  max-height: 48px;
  height: 48px;
}

.customer-table__header th {
  cursor: pointer;
}

.customer-table__client {
  min-width: 188px;
}

.customer-table__contract {
  min-width: 150px;
}

.customer-table__acquisition-date {
  min-width: 176px;
}

.customer-table__payment-method {
  min-width: 242px;
}

.customer-table__users {
  min-width: 118px;
}

.customer-table__last-lead {
  min-width: 210px;
}

.customer-table__last-property {
  min-width: 210px;
}

.customer-table__customers {
  min-width: 146px;
}

.customer-table__calls {
  min-width: 180px;
}

.customer-table__properties {
  min-width: 162px;
}

.customer-table__outdated-properties {
  min-width: 210px;
}

.customer-table__inactive-properties {
  min-width: 180px;
}

.customer-table__images {
  min-width: 186px;
}

.customer-table__condominiums {
  min-width: 174px;
}

.customer-table__portals {
  min-width: 166px;
}

.customer-table__notes {
  min-width: 210px;
}

.customer-table__row {
  box-shadow: inset 0px 1px 0px var(--color-box-shadow-table),
    inset 0px -1px 0px var(--color-box-shadow-table);
  line-height: 48px;
  background-color: var(--color-background-table-row-primary);
}

.customer-table__row:nth-child(odd) {
  background-color: var(--color-background-table-row-alternate);
}

td,
th {
  white-space: nowrap;
}

.customer-table__data {
  text-align: center;
  color: var(--color-text);
}

@media (max-width: 480px) {
  .customer-table__client {
    min-width: 148px;
  }
  
  .customer-table__contract {
    min-width: 110px;
  }
  
  .customer-table__acquisition-date {
    min-width: 136px;
  }
  
  .customer-table__payment-method {
    min-width: 202px;
  }
  
  .customer-table__users {
    min-width: 78px;
  }
  
  .customer-table__last-lead {
    min-width: 170px;
  }
  
  .customer-table__last-property {
    min-width: 170px;
  }
  
  .customer-table__customers {
    min-width: 106px;
  }
  
  .customer-table__calls {
    min-width: 140px;
  }
  
  .customer-table__properties {
    min-width: 100px;
  }
  
  .customer-table__outdated-properties {
    min-width: 170px;
  }
  
  .customer-table__inactive-properties {
    min-width: 120px;
  }
  
  .customer-table__images {
    min-width: 100px;
  }
  
  .customer-table__condominiums {
    min-width: 134px;
  }
  
  .customer-table__portals {
    min-width: 80px;
  }
  
  .customer-table__notes {
    min-width: 170px;
  }
}